<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>You are on the traveler edit page</h1>

    <form action="/traveler/<%= traveler._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value = "<%= traveler.name %> ">
        <input type="text" name="bio" value="<%= traveler.bio %> ">
        <input type="submit" value="Update">
    </form>
</body>
</html>