<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>you are on the index page</h1>
        <p><%= traveler[0].name %> </p>
        <p><%= traveler[0].bio %> </p>
</body>
</html>