<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Traveler</title>
</head>
<body>
    <h1>Welcome Traveler to the new traveler page!</h1>

    <form action="/traveler" method="POST">
        <p>
            <input type="text" name="name" placeholder="your name" required>
        </p>
        <p>
            <input type="text" name="bio" placeholder="tell us about you">
        </p>
        <p>
            <input type="text" name="address.street" placeholder="666 Elm St.">
        </p>
        <p>
            <input type="text" name="address.city" placeholder="Los Angeles">
        </p>
        <p>
            <input type="text" name="address.state" placeholder="CA">
        </p>
        <p>
            <input type="text" name="address.country" placeholder="USA">
        </p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>