<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speakeasy Travel</title>
</head>
    <body>
        <nav>
            <h1 style="color:darkslateblue">Welcome to Speakeasy Travel!</h1>
            <ul>
              
                
                </form>
           
                <li>
                    <a href="/register">Create new account</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </body>
</html>