<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips index</title>
</head>
<body>
    <h1>trips index</h1>

    <ul>
        <li>
                <a href="/traveler">Traveler page</a>
                <a href="/trip/new">Add trip</a>

        </li>
    </ul>
    <main>
        <h2>List of trips</h2>
        <ul>
          <% trip.forEach(trip => { %>
          <li>
            <a href="/trip/<%= trip._id %>"> <%= trip.name %> </a>
          </li>
          <% }) %>
        </ul>
        <p>
          <a href="/trip/<%= trip._id %>/edit ">Edit</a>
        <form action="/trip/<%= trip._id %>?_method=DELETE" method=POST>
            <input type="submit" value="Delete">
        </form>
        </p>
  
        <% if(trip.length === 0) { %>
        <p>There are no trips available yet.</p>
        <% } %>
      </main>

   
      
</body>
</html>