<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips index</title>
</head>
<body>
    <h1>trips index</h1>

    <ul>
        <li>
                <a href="/traveler">Traveler page</a>
                <a href="/trip/new">Add trip</a>

        </li>
    </ul>
    
        <h2>List of trips</h2>
        <% if(!trip.length) { %>
          <p>There are no trips available yet.</p>
          <% } else {%>
        <ul>
          <% trip.forEach(trip => { %>
            <a href="/trip/<%= trip._id %>"> 
              <li>
              <%= trip.name %> 
              </li>
            </a>
          <% }) %>
        </ul>
        <p>
        <form action="/trip/<%= trip._id %>?_method=DELETE" method=POST>
            <input type="submit" value="Delete">
        </form>
      </p>
      <% } %> 
   
      
</body>
</html>