<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 600px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 679px;
      }
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link" href="#">About</a>
          </li>
          <li>
            <a class="nav-link" href="/traveler">Traveler</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="logout" >
      </div>
    </div>
  </nav>
  <div
  id="intro-example"
  class="p-0 text-left bg-image"
  style="background-image: url('https://cdn.pixabay.com/photo/2014/08/15/11/29/beach-418742_1280.jpg');
  background-size: cover;
  min-height: 96vh;
  
  "
>
<div style="
 color: white;
   background-color: rgba(0,0,0,0.7);
    max-width: fit-content;
    border-radius: 25%;
    padding: 30px;
    " 
>
    <h1>Here are your saved trips:</h1>
  

        <% if(!trip.length) { %>
          <p>There are no trips available yet.</p>
          <% } else {%>
        <p>
          <% trip.forEach(trip => { %>
        </p>
        <p>
            <a class="btn btn-info" href="/trip/<%= trip._id %>"> 
              <%= trip.name %> 
            </a>
          <% }) %>
        </p>
        <p>
          Don't see any? Add your first trip!
      </p>
      <p><a class="btn btn-info" href="/trip/new" role="button">Add a new trip</a></p> 
  </div>
      <% } %> 
      
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>