<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips new</title>
</head>
<body>
    <h1>trips new</h1>
        <ul>
            <li>
                <a href="/traveler">Traveler page</a>
            </li>
            <li>
                <a href="/trip">Trips</a>
            </li>
        </ul>
    <main>
        <form action="/trip" method="POST">
            <p>
                <input type="text" name="name" placeholder="Anyone" />
            </p>
            <p>
                <input type="date" name="dateStart" placeholder="July 1, 2020" />
            </p>
            <p>
                <input type="date" name="dateEnd" placeholder="July 2, 2020"></input>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </main>

</body>
</html>